#display {
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	float: left;
}
#display div.row {
	float: left;
	clear; left;
}
#display div.cell {
	width: 10px;
	height: 10px;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	float: left;
}
#display div.cell.alive {
	background-color: red;
}
#size{
	float: left;
	clear: left;
}
#ctrl .active {
	background-color: red;
}
#ctrl {
	margin-top: 10px;
	float: left;
	clear: left;
	padding: 10px 0px;
}
#ctrl div{
	float: left;
	background-color: #bbb;
	padding: 5px 10px;
	margin-right: 10px;
}
#ctrl div:hover{
	cursor: pointer
}