<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/core.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/jgol.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/type.css" />

</head>
<body>
<div id="wrap">
<div id="main" class="clearfix">
<header>
  <div class="content">
    <hgroup>
      <h1>jGOL</h1>
      <h2>JavaScript implementation of Conway's Game of Life</h2>
    </hgroup>
  </div>
  <div id="content_wrapper">
    <div id="content" class="content">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
</header>
</div>
</div>
<footer>
  <div class="content">
  </div>
</footer>
  <script type="text/javascript" src="static/js/libs/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="static/js/libs/underscore.js"></script>

  <script type="text/javascript" src="static/js/jgol.js"></script>
  <script type="text/javascript" src="static/js/init.js"></script>

</body>
</HTML>