{% extends "base.html" %}
{% block content %}
      <div id="display">
      </div>
      <div id="ctrl">
        <div id="start">start</div>
        <div id="stop">stop</div>
        <div id="reset">reset</div>
        <div id="step">step</div>
        <div id="show">show</div>
      </div>
      <div id="patterns">
        <h3>Patterns:</h3>
        <p>Here are some patterns to get you started</p>
        <div id="rHeptomino">rHeptomino</div>
        <div id="bHeptomino">bHeptomino</div>
        <div id="herschel">herschel</div>
      </div>
      <form action="#" id="size">
        <input type="text" />
        <input type="submit" />
      </form>
      <div id="intro">
        <p>Conway's Game of Life is a fascinating game invented by John Conway. You can read more about it <a href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life">here</a></p>
        <h3>Rules</h3>
        <ul>
          <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population</li>
          <li>Any live cell with two or three live neighbours lives on to the next generation</li>
          <li>Any live cell with more than three live neighbours dies, as if by overcrowding</li>
          <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction</li>
          <p>Click on cells in the grid above to add/remove cells. Click <b>start</b> to run the simulation! Click <b>step</b> to run the simulation one frame at a time.(Max grid size of 50)</p>
        </ul>
      </div>

{% endblock content %}